@model App.Models.Sys.SysUserModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<table class="fromEditTable setTextWidth300">
    <tbody>
        <tr>
            <td style="width: 100px; text-align: right;">
                UserName：
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                TrueName：
            </td>
            <td>
                @Html.DisplayFor(model => model.TrueName)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                Card：
            </td>
            <td>
                @Html.DisplayFor(model => model.Card)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                Photo：
            </td>
            <td>
                @Html.DisplayFor(model => model.Photo)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.QQ)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Birthday)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Professional)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Degree)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Nationality)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatePerson)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.JoinDate)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Political)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.School)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.JobState)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Province)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Village)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Marital)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.Expertise)
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: right;">
                PhoneNumber：
            </td>
            <td>
                @Html.DisplayFor(model => model.OtherContact)
            </td>
        </tr>
    </tbody>
</table>

